html {
  scroll-behavior: smooth;
}
.logoSvg_4pwcjq {
    width: 200px !important;
    fill: currentColor !important;
    justify-content: center!important;
    position: relative;
    right: 200px!important;
}
.nav{
	padding-bottom: 10px!important;
}
.nav :hover{
	background-color: rgb(255,255,255);
}
.nav-form{
	opacity: 1 !important;
}
.my-hr{
	position: relative;
	margin-top: 1px;
}
#navbar2 {
  overflow: hidden;
  background-color: rgb(20,42,102);
  padding: 20px;
  transition: 0.4s;
  position: ;
  width: 100%;
  z-index: 99;
}
.upprbrdr{
	border: solid 1px white;
}
#my-part ul li a{
	color: white!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255,255,255);
}

#navbar2 a{
  
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
#navbar2 h1{
	color: white!important;
	font-size: 40px;
}

#navbar2 #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar2 a:hover {
    color: rgb(192, 205, 224);
}

#nav-heading1{
	color: white;
    position: relative;
   left: 400px;
}
.nav-heading-visibility{
	visibility: hidden;
	display: none;
}
@media (max-width: 893px) { 
   nav .navbar .container #my-part ul .navbar-nav li a .nav-link{
   	display: none!important;
   }
}

.section-heading{
	position: relative;
	background-color: white;
	top: 30px;
	


}
.placeholder-large{
	height: 80%;
	border-radius: 50%;
	position: relative;
	top: 10%;

}
.secwrap{
	position: relative;
	top: 20%;
}
.secbdiv{
	position: relative;
}
.secb{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.sech3{
	color: #007bff;
}


  #main{
 	background:#f0f1f2; 
 	position: relative;
 	margin-top: 0px;
 	padding-top: 30px;
 	padding-bottom: 30px;
 	bottom: 40px;
 }
 .pad{
 	
 	background:#f0f1f2; 
 }
 .main2{
 	position: relative;
 	padding-top: 60px;
 	background-color: #f7f8fa;
 }
 
 .side-bar{
 	overflow: auto;
 	padding: 60px 20px 60px 20px;
 	height: 500px;


 }
 .side-bar-tab{
 	padding-bottom: 20px;
 }
 .side-bar-tab a{
   color: black;
 }
 .side-bar-tab a:hover{
   color: rgba(0,0,0,0.5);
   text-decoration: none;
 }
 .main-bar{
 	overflow: scroll;
 	padding: 60px;
 	height: 800px;
 }

 .main-bar-tab{
 	background: white;
 	position: relative;
 	margin: 0px 20px 40px 20px;
 	padding: 20px;
 	border:solid 1px #dbdcdd;
 }
 .main-bar-tab a li{
 	color: rgb(0,0,5);
 	list-style: none;
 }

 .main-bar-tab a:hover li{
 	color: rgb(0,0,5);
 	
 }
 .placeholder-small{
 	height:35px;
 	border-radius: 50%;
 	float: left;
 	display: inline-block;
 	margin-right: 10px;
 }
 .vediosec{
 	padding-top: 60px;
 	padding-bottom: 60px;

 }
 .vediosec-vedio{
 	height: 117px;
 	width: 207px;
 	border: solid 1px #dbdcdd;
 	background-color: black 
 }
.brdr{
	border-bottom: solid 1px #dbdcdd;
 	border-top: solid 1px #dbdcdd;
}
.extra{
	
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer{
	background-color:rgb(20,42,102);
	color: white;
}
footer li{
	list-style: none;
}
footer a{
	color: white;
}
footer .row{
	padding-top: 50px;
}